.topnav {
    overflow: hidden;
    padding: 12px;
}

.topnav p {
    color: #f2f2f2;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

img {
    font-size: 0;
    width: 60%;
}

#mh4 {
    margin-top: 0px;
}