* {
    background-color: #dbdbdb;
}

h2 {
    text-decoration: underline;
}

body {
    float: center;
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-color: #dbdbdb;
    color: black;
    text-align: center;
    overflow-y: scroll;
}


img {
    font-size: 0;
    padding: 0px;
    border: 0px;
    margin: 0px;
    display: inline-block;
}

div {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.navitem {
    background-color: rgb(105, 105, 105);
    margin-left: 5px;
    margin-right: 5px;
}

.topnav p:hover {
    background-color: white !important;
    color: black !important;
    cursor: pointer;
}

.selected {
    color: black !important;
    background-color: white !important;
}

#waveapp {
    background-color: purple;
}

#messageHtml {
    display: none;
}