* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(41, 25, 70);
    color: white;
    border: 0px solid white;
}

body {
    font-family: 'DM Mono';
    font-size: 16px;
}

select {
    padding: 8px;
    border: 1px solid white;
    border-radius: 8px;
    margin: 20px;
    align-self: flex-end;
}

table {
    width: 100%;
    margin: 10px;
}

td {
    padding: 2px;
}

select:hover {
    cursor: pointer;
}

img {
    width: 700px;
}

p {
    margin-top: 10px;
}




/* classes */
.header {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.container {
    position: relative;
    width: 920px;
    margin: 0px auto;
    text-align: left;
}

.loading {
    opacity: 0.3;
    border-radius: 6px;
    color: white;
}

.project:hover {
    background: linear-gradient(to bottom right, orange, purple);
    border-radius: 6px;
}

.sss {
    background: linear-gradient(to bottom right, orange, purple);
    text-align: center;
}


/* id's */
#projects {
    width: 100%;
    display: block;
}

#apps-content a {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}