* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    border: 0px solid white;
    background-color: rgb(62, 18, 18);
}

body {
    font-family: 'DM Mono';
    font-size: 16px;
}

select {
    padding: 8px;
    border: 1px solid white;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
}

table {
    width: 100%;
    margin: 10px;
}

td {
    padding: 2px;
}

select:hover {
    cursor: pointer;
}

img {
    width: 700px;
}

p {
    margin-top: 10px;
}



/* classes */
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

.container {
    position: relative;
    width: 920px;
    margin: 0px auto;
    text-align: left;
}

.loading {
    opacity: 0.3;
    border-radius: 6px;
    color: white;
}


/* id's */


#apps-content a {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#gitcommand {
    background-color: rgb(47, 30, 63);
    color: red;
    margin: 5px;
    padding: 8px;
    border-radius: 15px;
}


code {
    background-color: rgb(47, 30, 63);
}