body {
    text-align: center;
}


#mtext {
    resize: none;
    width: 60%;
    height: 200px;
    resize: none;
    margin: 10px;
    font-family: 'superhelio _regular', sans-serif;
    background-color: bisque;
    border-color: black;
    padding: 5px;
    cursor: text;
}

#mtext :active{
    color: red;
}

button {
    resize: none;
    width: 90px;
    height: 40px;
    resize: none;
    font-family: 'superhelio _regular', sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
    background-color: orange;
}

button :active {
    background-color: red;
}
