h4 {
    margin-bottom: 20px;
    margin-top: 50px;
}

#question {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

button {
    color: grey;
    margin: 25px;
    padding: 25px;
    background-color: blue;
    border: 0px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    width: 200px;
    transition: width 0.9s ease;
}

button:not([disabled]):hover {
    background-color: purple;
}

button:not([disabled]):active {
    background-color: purple;
}